.home-wrapper{
  // padding-top: 65%;
}

.home-widget {
  position: relative;
  display: flex;
  justify-content: center;

  
  img {
    filter: brightness(22%);
  }
  
  
  div {
    position: absolute;
  }
  
  .text {
    color: $color-light;
    margin-top: 150px;
    font-weight: $font-weight-regular;
    font-style: italic;
    font-size: 30px;
    text-align: left;
    max-width: 700px;
    width: 70%;
  
  }
}
  
.section-title {
  color: $color-gold;
  word-spacing: 7px;
  letter-spacing: 4px;
  font-size: 25px;
  justify-content: center;
  position: relative;
}

.join{
  text-align: right;
}

.about-line{
  width: 250%;
}