.contact-widget {
  padding-top: 70px;
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-dark;
  font-size: 25px;
  font-weight: $font-weight-bold;
  margin: 20px 0;
  text-align: center;
}
  
input {
  border: 3px solid $color-dark;
  width: 400px;
  max-height: 72px;
}
  
textarea {
  border: 3px solid $color-dark;
  clear: left;
  width: 400px;
  height: 150px;
}
  
.submit-btn {
  background-color: $color-gold;
  color: $color-light;
  border: none;
  width: 240px;
  height: 80px;
 

  &:hover{
    color: $color-gold;
    background: $color-light;
    border: solid 2px $color-gold;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
  }  
}
