*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  background: $color-light;
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  color: $color-dark;
  //text-align: center;
  overflow-x: hidden;
  box-sizing: border-box;
  

}
  
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}

.section-title {
  display: flex;
  justify-content: center;
  position: relative;

  h2 {
    font-size: 45px;
    color: $color-gold;
    letter-spacing: 7px;
  }
}

.section-title-line {
  margin: 30px 0 0 0;
  border-top: 4px solid $color-gold;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50%;
}
