*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  background: $color-light;
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  color: $color-dark;
  //text-align: center;
  overflow-x: hidden;
  box-sizing: border-box;
  

}
  
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}