*, *::before, *::after {
  box-sizing: border-box;
}

.background-image{
  position: absolute;
  filter: brightness(33%);
  overflow: hidden;
}

header{
  max-width: 1920px;
  background-color: $color-light;
  position: relative;


}

.header_wrapper{
  position: relative;
 
}

.main-nav{
  display:flex;
  justify-content: flex-end;

}

ul{
  margin-top: -40px;
  word-spacing: 5px;
  letter-spacing: 2px;

    a{
      text-decoration: none;
      color: $color-gold;
      margin:10px;
    }
  }



.logo_title{
  font-weight: $font-weight-black;
  color: $color-light;
  margin-bottom: 0;
  word-spacing: 5px;
  letter-spacing: 2px;
  padding-top: 10px;
  font-size: 20px;
   
}

.logo_subtitle{
  font-size: 10px;
  font-weight: $font-weight-regular;
  word-spacing: 5px;
  letter-spacing: 2px;
  display: inline;
  color: $color-light;
}

.page_title{
  color: $color-gold;
  text-align: center;
  word-spacing: 7px;
  letter-spacing: 4px;
  display:flex;
  flex-direction:column;
  justify-content: center;

    
  .higher{
    padding-top: 20%;
    font-size: 55px;
    padding-right: 20%;
    margin:0;
  }

  .lower{
    text-align: center;
    margin: 0;
    font-size: 55px;
    padding-left: 20%;
    

  }

.title-line{
  margin-left:30%;
  border-top: 4px solid $color-gold;
  transform: translate(70%, -50%);
  width:20%;
  
}
}

.discover{
  color: $color-light;
  margin-bottom: 0;
  padding-top: 20%;
  vertical-align: text-bottom;
  font-family: $font-weight-regular;
}

i{
  color: $color-light;
}