@media (max-width: 767px) {
  *, *::before, *::after {
    box-sizing: border-box;   
  }
    
  //header
  .page_title{
    padding-top: 10%;
    z-index: 0;

    .lower{
      font-size: 45px;
    }

    .higher{
      font-size: 45px;
    }

  }

  .header {
    max-height: 80vh;
  }
  
  .header img {
    height: 80vh;  
  }
  
  .logo {
    margin-left: 5%;
    z-index: 1;
  
    h3 {   
      font-size: 12px;
    }
  
    p {
      font-size: 8px;
    }
  }
  
  
  .main-nav {
    margin-right: 8%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    
  
    a {
      font-size: 12px;
      margin-left: 10px;
      margin-right: 15px;
      color: $color-gold;
    }
  }
  
  .section-title {
    h2 {
      font-size: 45px;
      letter-spacing: 5px;
      text-align: center;
      
    }
  }
  
  //products
  .products-wrapper{
    padding-top: 170%;
  }

  .product-widget{
    padding-left: 0;
    padding-right: 0;
    max-width: 700px;
  }

  .skill-right{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 0;
    left: 10%;
    right: 10%;
  }
      
  .description{
    flex-direction: column;
    position: relative;
    width: 100%;
    text-align: center;
  
    .name {
      font-size: 20px;
      width: 100%;
      text-align: center;
    }
  
    .line {
      width: 100%;
    }
  
    .details {
      font-size: 13px;
      width: 100%;
    }
  
    .qualities {
      padding-top: 15px;
      font-size: 13px;
    }
  }
      
  .product-image {
    position: relative;
  
    img {
      width: 100px;
      max-height: 80%;
    }
  }
  
  .badge {
    img {
      height: 50px;
    }
  }
  
  .product-widget:nth-child(even){
    .skill-right{
      padding-left: 0;
      text-align: left;
    }
  
    .product-image {
      left: 0;
    }
  }
      
  // about 
  .home-widget{
    height: 80vh;
    position: absolute;
    margin-left: -10px;
    width: 100%;
    padding-top: 20%;
  
    img {
      width: 100%;
      margin: 0 auto;
    }
  }
  
  .section-title {
    font-size: 25px;
  }
    
  .section-title-line {
    border-top: 5px solid $color-gold;
    width: 100%;
  }
  
  .text {
    p{
      font-size: 15px;
    }
  
    span {
      padding-left: 60%;
    }
  }
  
  
  //contact
  .contact-widget{
    padding-top: 170%;
  }

  input {
    min-width: 300px;
    max-width: 300px;
    min-height: 72px;
    max-height: 72px;
  }
  
  textarea {
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
  }
}
  